{% extends 'layout/layout.html.twig' %}

{% block body %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">

            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE CONTENT BODY -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12 ">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject font-dark sbold uppercase">ثبت قرارداد</span>
                                </div>
                            </div>
                            <div class="portlet-body form col-md-8 ">
                                {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                                {% if successFullMeassage  is defined%}
                                    <div class="message-box sucess">
                                        <div class="message">{{ successFullMeassage }}</div><i class="icon"></i>
                                    </div>
                                {% endif %}
                                {% if formIsNotValid %}
                                    <div class="message-box alert">
                                        <div class="message">
                                            مشکل زیر رخ داده است:
                                            {{ form_errors(form.companyName) }}
                                            {{ form_errors(form.userName) }}
                                            {{ form_errors(form.register) }}
                                            {{ form_errors(form.phone) }}
                                            {{ form_errors(form.telegram) }}
                                            {{ form_errors(form.direct) }}
                                            {{ form_errors(form.serviceItems) }}
                                            {{ form_errors(form.shareItems) }}
                                            {{ form_errors(form.separate) }}
                                            {{ form_errors(form.contractPrice) }}
                                            {{ form_errors(form.discount) }}
                                            {{ form_errors(form.basePrice) }}
                                        </div><i class="icon"></i>
                                    </div>
                                {% endif %}
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">نام شرکت:</label>
                                            <div class="col-md-9">
                                                {{  form_widget(form.companyName,{'attr':{'class':'form-control input-inline input-medium'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">نام کاربری:</label>
                                            <div class="col-md-9">
                                                {{  form_widget(form.userName,{'attr':{'class':'form-control input-inline input-medium'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">تمدید:</label>
                                            <div class="col-md-4">
                                                    {{  form_widget(form.recharge,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">رجیستری:</label>
                                            <div class="col-md-4">
                                                    {{  form_widget(form.register,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">تلفنی:</label>
                                            <div class="col-md-4">
                                                    {{  form_widget(form.phone,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">تلگرام:</label>
                                            <div class="col-md-4">
                                                    {{  form_widget(form.telegram,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">مستقیم-نمایشگاهی:</label>
                                            <div class="col-md-4">
                                                    {{  form_widget(form.direct,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">نوع اشتراک:</label>
                                            <div class="col-md-9">
                                                <div class="mt-checkbox-inline">
                                                       {{  form_widget(form.shareItems,{'attr':{'class':''}})}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">نوع سرویس:</label>
                                            <div class="col-md-9">
                                                <div class="mt-checkbox-inline">
                                                       {{  form_widget(form.serviceItems,{'attr':{'class':''}})}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">تفکیک:</label>
                                            <div class="col-md-4">
                                                {{  form_widget(form.separate,{'attr':{'class':'form-control'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">مبلغ قرارداد:</label>
                                            <div class="col-md-9">
                                                {{  form_widget(form.contractPrice,{'attr':{'class':'form-control input-inline input-medium'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">مبلغ تخفیف:</label>
                                            <div class="col-md-9">
                                                {{  form_widget(form.discount,{'attr':{'class':'form-control input-inline input-medium'}})}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">مبلغ پایه:</label>
                                            <div class="col-md-9">
                                                {{  form_widget(form.basePrice,{'attr':{'class':'form-control input-inline input-medium','type':'text'}})}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green">Submit</button>
                                                <button type="button" class="btn default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                 {{ form_end(form) }}
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
{% endblock %}